<div style="height: 1000px"></div>
<main class="anim">
  <div class="left" id="left">
    <div class="field">
      <div class="tabs" id="tabs">
        <div class="tab">
          Все новости
        </div>
        <div class="tab">
          Новости рынков
        </div>
        <div class="tab">
          Новости компаний
        </div>
        <div class="tab">
          Новости Биржи
        </div>
        <div class="empty">
        </div>
        <div class="tab tab-favorite">
          <img src="assets/images/bookmark-filled.svg" alt="">
          Избранное
        </div>
      </div>
      <div class="watch-cup">
        <div class="watchlist">
          <div class="btn-field" id="btn-field">
            <div class="btn">
              <img src="assets/images/Add.svg" alt="">
              <span>Добавить инструмент</span>
            </div>
          </div>

          <div class="table table-zebra" id="first-table">
            <div class="tr tr-header" id="tr-header">
              <div class="td" id="w-first-th">Тикер</div>
              <div class="td">Посл. цена</div>
              <div class="td">Объём</div>
              <div class="td">Минимум</div>
              <div class="td">Максимум</div>
              <div class="td">Время</div>
              <div class="td"></div>
            </div>
            <div class="tr">
              <div class="td">CCBN</div>
              <div class="td">380,01</div>
              <div class="td">-</div>
              <div class="td">379,50</div>
              <div class="td">389,99</div>
              <div class="td">13.04.2022 13:59:04</div>
              <div class="td"><img src="assets/images/Vector.svg"></div>
            </div>
            <div class="tr">
              <div class="td">CCBN</div>
              <div class="td">380,01</div>
              <div class="td">-</div>
              <div class="td">379,50</div>
              <div class="td">389,99</div>
              <div class="td">13.04.2022 13:59:04</div>
              <div class="td"><img src="assets/images/Vector.svg"></div>
            </div>
            <div class="tr">
              <div class="td">CCBN</div>
              <div class="td">380,01</div>
              <div class="td">-</div>
              <div class="td">379,50</div>
              <div class="td">389,99</div>
              <div class="td">13.04.2022 13:59:04</div>
              <div class="td"><img src="assets/images/Vector.svg"></div>
            </div>
            <div class="tr">
              <div class="td">CCBN</div>
              <div class="td">380,01</div>
              <div class="td">-</div>
              <div class="td">379,50</div>
              <div class="td">389,99</div>
              <div class="td">13.04.2022 13:59:04</div>
              <div class="td"><img src="assets/images/Vector.svg"></div>
            </div>
            <div class="tr">
              <div class="td">CCBN</div>
              <div class="td">380,01</div>
              <div class="td">-</div>
              <div class="td">379,50</div>
              <div class="td">389,99</div>
              <div class="td">13.04.2022 13:59:04</div>
              <div class="td"><img src="assets/images/Vector.svg"></div>
            </div>
            <div class="tr">
              <div class="td">CCBN</div>
              <div class="td">380,01</div>
              <div class="td">-</div>
              <div class="td">379,50</div>
              <div class="td">389,99</div>
              <div class="td">13.04.2022 13:59:04</div>
              <div class="td"><img src="assets/images/Vector.svg"></div>
            </div>
            <div class="tr">
              <div class="td">CCBN</div>
              <div class="td">380,01</div>
              <div class="td">-</div>
              <div class="td">379,50</div>
              <div class="td">389,99</div>
              <div class="td">13.04.2022 13:59:04</div>
              <div class="td"><img src="assets/images/Vector.svg"></div>
            </div>
            <div class="tr">
              <div class="td">CCBN</div>
              <div class="td">380,01</div>
              <div class="td">-</div>
              <div class="td">379,50</div>
              <div class="td">389,99</div>
              <div class="td">13.04.2022 13:59:04</div>
              <div class="td"><img src="assets/images/Vector.svg"></div>
            </div>
            <div class="tr">
              <div class="td">CCBN</div>
              <div class="td">380,01</div>
              <div class="td">-</div>
              <div class="td">379,50</div>
              <div class="td">389,99</div>
              <div class="td">13.04.2022 13:59:04</div>
              <div class="td"><img src="assets/images/Vector.svg"></div>
            </div>
            <div class="tr">
              <div class="td">CCBN</div>
              <div class="td">380,01</div>
              <div class="td">-</div>
              <div class="td">379,50</div>
              <div class="td">389,99</div>
              <div class="td">13.04.2022 13:59:04</div>
              <div class="td"><img src="assets/images/Vector.svg"></div>
            </div>
            <div class="tr">
              <div class="td">CCBN</div>
              <div class="td">380,01</div>
              <div class="td">-</div>
              <div class="td">379,50</div>
              <div class="td">389,99</div>
              <div class="td">13.04.2022 13:59:04</div>
              <div class="td"><img src="assets/images/Vector.svg"></div>
            </div>
            <div class="tr">
              <div class="td">CCBN</div>
              <div class="td">380,01</div>
              <div class="td">-</div>
              <div class="td">379,50</div>
              <div class="td">389,99</div>
              <div class="td">13.04.2022 13:59:04</div>
              <div class="td"><img src="assets/images/Vector.svg"></div>
            </div>
            <div class="tr">
              <div class="td">CCBN</div>
              <div class="td">380,01</div>
              <div class="td">-</div>
              <div class="td">379,50</div>
              <div class="td">389,99</div>
              <div class="td">13.04.2022 13:59:04</div>
              <div class="td"><img src="assets/images/Vector.svg"></div>
            </div>
          </div>
        </div>
        <div class="cup"></div>
      </div>
    </div>
  </div>
  <div class="right">
    <div class="info">
      <div class="title">Watchlist</div>
      <div class="content">Котировки в реальном времени
        для оперативного реагирования на изменения рынков – наблюдайте за биржевым стаканом  
        и отслеживайте настроения инвесторов.
      </div>
    </div>
    <div class="info">
      <div class="title">Актуальные
        новости
      </div>
      <div class="content">Следите за событиями на рынке с помощью нашей новостной ленты KASE и добавляйте наиболее
        интересные новости в раздел "Избранные", чтобы иметь к ним оперативный доступ.
      </div>
    </div>
    <div class="info">
      <div class="title">Заявки, сделки  
        и итоги</div>
      <div class="content">Определяйте динамику рынков с помощью данных intraday, а также анализируйте исторические данные за любой период  
        для лучшего понимания картины рынка.</div>
    </div>
    <div class="info">
      <div class="title">Индексы  
        и индикаторы</div>
      <div class="content">Оценивайте состояние рынка ценных бумаг  
        с помощью индексов и индикаторов KASE. </div>
    </div>
  </div>
</main>
<div style="height: 1000px"></div>
