<div class="mobile-menu">
  <div class="mm-header">
    <img class="mmh-close" src="assets/images/close.svg" alt="" (click)="appService.menu_show = false">
    <img class="mmh-logo" src="assets/images/LOGO.svg" alt="">
    <div class="mmh-trial-button">
      <div class="button-primary">
        <a class="" (click)="appService.scrollTo('form')">{{'Header3' | translate}}</a>
      </div>
    </div>
  </div>
  <div class="mm-links">
    <div class="mm-link" (click)="appService.scrollToBehavior( 'with-you1')">{{'Header5' | translate}}</div>
    <div class="mm-link" (click)="appService.scrollTo('rates')">{{'Header6' | translate}}</div>
    <div class="mm-link" (click)="appService.scrollTo('tf-contacts')">{{'Header7' | translate}}</div>
    <a class="mm-link" href="https://irisfinance.kase.kz/auth" target="_blank">{{'Header4' | translate}}</a>
  </div>
  <div class="mm-lang">
    <span class="{{appService.getLang() === 'kz' ? 'accent-color' : ''}}" (click)="appService.switchLang('kz')">KZ</span>
    <span class="{{appService.getLang() === 'ru' ? 'accent-color' : ''}}" (click)="appService.switchLang('ru')">RU</span>
    <span class="{{appService.getLang() === 'en' ? 'accent-color' : ''}}" (click)="appService.switchLang('en')">EN</span>
  </div>
  <div class="mm-contacts">
    <div class="mm-contact">
      <span class="mmc-title">{{'Form8' | translate}}</span>
      <span class="mmc-content">+7 727 2375322 </span>
    </div>
      <div class="mm-contact">
      <span class="mmc-title">E-mail</span>
      <span class="mmc-content">mds@kase.kz</span>
    </div>
  </div>
</div>
