<app-mobile-menu *ngIf="appService.menu_show"></app-mobile-menu>

<div class="header-bg" id="header-bg">
</div>
<div class="header-field" id="header-field">
  <!--    <div class="hf-bg"></div>-->
  <div class="header" id="header">
    <div class="header-left">
      <img class="hl-menu" src="assets/images/menu.svg" (click)="appService.menu_show = true" alt="">
      <img class="hl-logo" src="assets/images/LOGO.svg" alt="">
      <div class="hi-texts">
        <span
          (click)="appService.scrollToBehavior(screenWidth > 1440 ? 'with-you' : 'with-you1')">{{'Header5' | translate}}</span>
        <!--        <a href="#with-you">Возможности</a>-->
        <span (click)="appService.scrollTo('trial')">{{'Header6' | translate}}</span>
        <span (click)="appService.scrollTo('tf-contacts')">{{'Header7' | translate}}</span>
      </div>
    </div>
    <div class="header-right">
      <div class="hr-lang">
        <span class="{{appService.getLang() === 'kz' ? 'accent-color' : ''}}"
              (click)="appService.switchLang('kz')">KZ</span>
        <span class="{{appService.getLang() === 'ru' ? 'accent-color' : ''}}"
              (click)="appService.switchLang('ru')">RU</span>
        <span class="{{appService.getLang() === 'en' ? 'accent-color' : ''}}"
              (click)="appService.switchLang('en')">EN</span>
      </div>
      <a class="hr-button" href="https://irisfinance.kase.kz/auth" target="_blank">{{'Header4' | translate}}</a>
      <a class="button-primary" id="header3" (click)="appService.scrollTo('form')">{{'Header3' | translate}}</a>
    </div>
  </div>
  <div class="header-big">
    <div class="hb-left" id="hb-left">
      <div class="hb-text">
        <span>IRIS Finance</span>
        <span [innerHTML]="'Header1' | translate"></span>
        <span [innerHTML]="'Header2' | translate"></span>
      </div>
      <div class="button"><a (click)="appService.scrollTo('form')">{{'Header3' | translate}}</a></div>
    </div>
    <div class="hb-right" id="hb-right">
<!--        <object id="hb_right-img" data="assets/images/promomain-1.svg" type="image/svg+xml"></object>-->

<!--      <object type="image/svg+xml" item-prop="image" id="hb_right-img" data="assets/images/promomain-1.svg"></object>-->

      <img class="hbRightImg" id="hb_right-img" src="assets/images/promomain-1.svg" alt="">
    </div>
  </div>
</div>
<div class="middle-content hbRightImg1">
  <img class="" id="hb_right-img1" src="assets/images/promomain%201.jpg" alt="">
</div>
<div class="animation-comp animation-comp-with_you" style="display: flex; justify-content: center">
  <div class="expand" id="with-you" #withYou
       style="transition: all 0s; display: flex; flex-direction: column; align-items: center">
    <div style="display: flex; flex-direction: column">
      <span>{{'Expand1' | translate}}</span>
      <span [innerHTML]="'Expand2' | translate"></span>
    </div>
    <div style="">
      <div>
        <img src="assets/images/Info.svg" alt="">
        <span style="margin-top: 12px;text-align: center" [innerHTML]="'Expand3' | translate"></span>
      </div>
      <div>
        <img src="assets/images/Real-time.svg" alt="">
        <span style="margin-top: 12px;text-align: center" [innerHTML]="'Expand4' | translate"></span>
      </div>
      <div>
        <img src="assets/images/App.svg" alt="">
        <span style="margin-top: 12px;text-align: center" [innerHTML]="'Expand5' | translate"></span>
      </div>
    </div>
  </div>
</div>
<div id="animCompBg" style="background: #E9EDF3; height: 670px; width: 100%; position: fixed; top: 0;"></div>
<div class="middle-content middle-padding animation-comp">
  <div class="animation" id="animation">
    <main class="anim">
      <div class="left" id="leftAnim">
        <!--        <div style="min-height: 700px; max-height: 700px; display: flex; align-items: center"></div>-->
        <div class="anim-field first" id="anim-field">
          <div class="tabs" id="tabs">
            <div class="tab">
              Все новости
            </div>
            <div class="tab">
              Новости рынков
            </div>
            <div class="tab">
              Новости компаний
            </div>
            <div class="tab">
              Новости Биржи
            </div>
            <div class="empty">
            </div>
            <div class="tab tab-favorite">
              <img src="assets/images/bookmark-filled.svg" alt="">
              Избранное
            </div>
          </div>
          <div class="watch-cup">
            <div class="watchlist">
              <div class="button-field">
                <div class="button" id="button">
                  <img src="assets/images/Add.svg" alt="">
                  Добавить инструмент
                </div>
              </div>
              <div class="tabs-sec">
                <div class="tab">Сделки</div>
                <div class="tab">Заявки</div>
                <div class="tab">Итоги торгового дня</div>
              </div>
              <div class="table table-zebra" id="table">
                <div class="tr tr-header" id="tr-header">
                  <div class="td" id="w-first-th">Тикер</div>
                  <div class="td">Посл. цена</div>
                  <div class="td">Объём</div>
                  <div class="td">Минимум</div>
                  <div class="td">Максимум</div>
                  <div class="td">Время</div>
                  <div class="td">Минимум</div>
                  <div class="td">Максимум</div>
                  <div class="td">Время</div>
                  <div class="td"></div>
                </div>
                <div class="tr">
                  <div class="td">CCBN</div>
                  <div class="td">380,01</div>
                  <div class="td">-</div>
                  <div class="td">379,50</div>
                  <div class="td">389,99</div>
                  <div class="td">13.04.2022 13:59:04</div>
                  <div class="td"><img src="assets/images/Vector.svg"></div>
                  <div class="td">389,99</div>
                  <div class="td">13.04.2022 13:59:04</div>
                  <div class="td"><img src="assets/images/Vector.svg"></div>
                </div>
                <div class="tr">
                  <div class="td">CCBN</div>
                  <div class="td">380,01</div>
                  <div class="td">-</div>
                  <div class="td">379,50</div>
                  <div class="td">389,99</div>
                  <div class="td">13.04.2022 13:59:04</div>
                  <div class="td"><img src="assets/images/Vector.svg"></div>
                  <div class="td">389,99</div>
                  <div class="td">13.04.2022 13:59:04</div>
                  <div class="td"><img src="assets/images/Vector.svg"></div>
                </div>
                <div class="tr">
                  <div class="td">CCBN</div>
                  <div class="td">380,01</div>
                  <div class="td">-</div>
                  <div class="td">379,50</div>
                  <div class="td">389,99</div>
                  <div class="td">13.04.2022 13:59:04</div>
                  <div class="td"><img src="assets/images/Vector.svg"></div>
                  <div class="td">389,99</div>
                  <div class="td">13.04.2022 13:59:04</div>
                  <div class="td"><img src="assets/images/Vector.svg"></div>
                </div>
                <div class="tr">
                  <div class="td">CCBN</div>
                  <div class="td">380,01</div>
                  <div class="td">-</div>
                  <div class="td">379,50</div>
                  <div class="td">389,99</div>
                  <div class="td">13.04.2022 13:59:04</div>
                  <div class="td"><img src="assets/images/Vector.svg"></div>
                  <div class="td">389,99</div>
                  <div class="td">13.04.2022 13:59:04</div>
                  <div class="td"><img src="assets/images/Vector.svg"></div>
                </div>
                <div class="tr">
                  <div class="td">CCBN</div>
                  <div class="td">380,01</div>
                  <div class="td">-</div>
                  <div class="td">379,50</div>
                  <div class="td">389,99</div>
                  <div class="td">13.04.2022 13:59:04</div>
                  <div class="td"><img src="assets/images/Vector.svg"></div>
                  <div class="td">389,99</div>
                  <div class="td">13.04.2022 13:59:04</div>
                  <div class="td"><img src="assets/images/Vector.svg"></div>
                </div>
                <div class="tr">
                  <div class="td">CCBN</div>
                  <div class="td">380,01</div>
                  <div class="td">-</div>
                  <div class="td">379,50</div>
                  <div class="td">389,99</div>
                  <div class="td">13.04.2022 13:59:04</div>
                  <div class="td"><img src="assets/images/Vector.svg"></div>
                  <div class="td">389,99</div>
                  <div class="td">13.04.2022 13:59:04</div>
                  <div class="td"><img src="assets/images/Vector.svg"></div>
                </div>
                <div class="tr">
                  <div class="td">CCBN</div>
                  <div class="td">380,01</div>
                  <div class="td">-</div>
                  <div class="td">379,50</div>
                  <div class="td">389,99</div>
                  <div class="td">13.04.2022 13:59:04</div>
                  <div class="td"><img src="assets/images/Vector.svg"></div>
                  <div class="td">389,99</div>
                  <div class="td">13.04.2022 13:59:04</div>
                  <div class="td"><img src="assets/images/Vector.svg"></div>
                </div>
                <div class="tr">
                  <div class="td">CCBN</div>
                  <div class="td">380,01</div>
                  <div class="td">-</div>
                  <div class="td">379,50</div>
                  <div class="td">389,99</div>
                  <div class="td">13.04.2022 13:59:04</div>
                  <div class="td"><img src="assets/images/Vector.svg"></div>
                  <div class="td">389,99</div>
                  <div class="td">13.04.2022 13:59:04</div>
                  <div class="td"><img src="assets/images/Vector.svg"></div>
                </div>
                <div class="tr">
                  <div class="td">CCBN</div>
                  <div class="td">380,01</div>
                  <div class="td">-</div>
                  <div class="td">379,50</div>
                  <div class="td">389,99</div>
                  <div class="td">13.04.2022 13:59:04</div>
                  <div class="td"><img src="assets/images/Vector.svg"></div>
                  <div class="td">389,99</div>
                  <div class="td">13.04.2022 13:59:04</div>
                  <div class="td"><img src="assets/images/Vector.svg"></div>
                </div>
                <div class="tr">
                  <div class="td">CCBN</div>
                  <div class="td">380,01</div>
                  <div class="td">-</div>
                  <div class="td">379,50</div>
                  <div class="td">389,99</div>
                  <div class="td">13.04.2022 13:59:04</div>
                  <div class="td"><img src="assets/images/Vector.svg"></div>
                  <div class="td">389,99</div>
                  <div class="td">13.04.2022 13:59:04</div>
                  <div class="td"><img src="assets/images/Vector.svg"></div>
                </div>
                <div class="tr">
                  <div class="td">CCBN</div>
                  <div class="td">380,01</div>
                  <div class="td">-</div>
                  <div class="td">379,50</div>
                  <div class="td">389,99</div>
                  <div class="td">13.04.2022 13:59:04</div>
                  <div class="td"><img src="assets/images/Vector.svg"></div>
                  <div class="td">389,99</div>
                  <div class="td">13.04.2022 13:59:04</div>
                  <div class="td"><img src="assets/images/Vector.svg"></div>
                </div>
                <div class="tr">
                  <div class="td">CCBN</div>
                  <div class="td">380,01</div>
                  <div class="td">-</div>
                  <div class="td">379,50</div>
                  <div class="td">389,99</div>
                  <div class="td">13.04.2022 13:59:04</div>
                  <div class="td"><img src="assets/images/Vector.svg"></div>
                  <div class="td">389,99</div>
                  <div class="td">13.04.2022 13:59:04</div>
                  <div class="td"><img src="assets/images/Vector.svg"></div>
                </div>
                <div class="tr">
                  <div class="td">CCBN</div>
                  <div class="td">380,01</div>
                  <div class="td">-</div>
                  <div class="td">379,50</div>
                  <div class="td">389,99</div>
                  <div class="td">13.04.2022 13:59:04</div>
                  <div class="td"><img src="assets/images/Vector.svg"></div>
                  <div class="td">389,99</div>
                  <div class="td">13.04.2022 13:59:04</div>
                  <div class="td"><img src="assets/images/Vector.svg"></div>
                </div>
              </div>
            </div>
            <div class="cup">
              <div class="cup-header">
                <div class="ch-td"></div>
                <div class="ch-td"></div>
                <div class="ch-td"></div>
                <div class="ch-td"></div>
                <div class="ch-td"></div>
                <div class="ch-td"></div>
              </div>
              <div class="cup-table" id="cup-table">
                <td class="ct-td"></td>
                <td class="ct-td"></td>
                <td class="ct-td"></td>

                <td class="ct-td"></td>
                <td class="ct-td"></td>
                <td class="ct-td"></td>

                <td class="ct-td"></td>
                <td class="ct-td"></td>
                <td class="ct-td"></td>

                <td class="ct-td"></td>
                <td class="ct-td"></td>
                <td class="ct-td"></td>

                <td class="ct-td"></td>
                <td class="ct-td"></td>
                <td class="ct-td"></td>

                <td class="ct-td"></td>
                <td class="ct-td"></td>
                <td class="ct-td"></td>

                <td class="ct-td"></td>
                <td class="ct-td"></td>
                <td class="ct-td"></td>

                <td class="ct-td"></td>
                <td class="ct-td"></td>
                <td class="ct-td"></td>

                <td class="ct-td"></td>
                <td class="ct-td"></td>
                <td class="ct-td"></td>

                <td class="ct-td"></td>
                <td class="ct-td"></td>
                <td class="ct-td"></td>

                <td class="ct-td"></td>
                <td class="ct-td"></td>
                <td class="ct-td"></td>

                <td class="ct-td"></td>
                <td class="ct-td"></td>
                <td class="ct-td"></td>

                <td class="ct-td"></td>
                <td class="ct-td"></td>
                <td class="ct-td"></td>

                <td class="ct-td"></td>
                <td class="ct-td"></td>
                <td class="ct-td"></td>

                <td class="ct-td"></td>
                <td class="ct-td"></td>
                <td class="ct-td"></td>
              </div>
              <div class="index-change hide" id="index-change">
                <div class="ic-change">
                  <span class="ic-header">Изменение индикатора</span>
                  <div class="ic-refresh">
                    <div class="icr-item">
                      <span>Дата обновления</span>
                      <span>13.04.2022 12:44</span>
                    </div>
                    <div class="icr-item">
                      <span>Значение</span>
                      <span>3 182,79</span>
                    </div>
                  </div>
                  <table class="ic-time">
                    <thead>
                    <tr>
                      <th>1Д</th>
                      <th>1Н</th>
                      <th>1М</th>
                      <th>3М</th>
                      <th>6М</th>
                      <th>1Г</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                      <td>+ 9,70</td>
                      <td>- 80,44</td>
                      <td>- 194,68</td>
                      <td>- 194,68</td>
                      <td>- 388,58</td>
                      <td>- 98,15</td>
                    </tr>
                    </tbody>
                  </table>
                </div>
                <img src="assets/images/chart.svg" alt="">
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="right" id="rightAnim">
        <div class="r-info" id="r-info">
          <div class="fadeIn r-info-text" id="r-info-text1">
            <span>Watchlist</span>
            <span [innerHTML]="'Anim1' | translate"></span>
          </div>
          <div class="fadeIn r-info-text" id="r-info-text2">
            <span [innerHTML]="'Anim2_Header' | translate"></span>
            <span [innerHTML]="'Anim2' | translate"></span>
          </div>
          <div class="fadeIn r-info-text" id="r-info-text3">
            <span [innerHTML]="'Anim3_Header' | translate"></span>
            <span [innerHTML]="'Anim3' | translate"></span>
          </div>
          <div class="fadeIn r-info-text" id="r-info-text4">
            <span [innerHTML]="'Anim4_Header' | translate"></span>
            <span [innerHTML]="'Anim4' | translate"></span>
          </div>
        </div>
      </div>
    </main>
  </div>
</div>
<div class="middle-content middle-padding animation-mobile">
  <div class="options">
    <div class="option">
      <div>
        <span>Watchlist</span>
        <span [innerHTML]="'Anim1' | translate"></span>
      </div>
      <img src="assets/images/watchlist-cup.svg" alt="">
    </div>
    <div class="option">
      <div>
        <span [innerHTML]="'Anim2_Header' | translate"></span>
        <span [innerHTML]="'Anim2' | translate"></span>
      </div>
      <img src="assets/images/news.svg" alt="">
    </div>
    <div class="option">
      <div>
        <span [innerHTML]="'Anim3_Header' | translate"></span>
        <span [innerHTML]="'Anim3' | translate"></span>
      </div>
      <img src="assets/images/deals-totals.svg" alt="">
    </div>
    <div class="option">
      <div>
        <span [innerHTML]="'Anim4_Header' | translate"></span>
        <span [innerHTML]="'Anim4' | translate"></span>
      </div>
      <img src="assets/images/indexes.svg" alt="">
    </div>
  </div>
</div>
<!--<div id="changeTheme1" style="transition: opacity 0.3s; display: flex; width: 100%" #changeTheme class="change-theme">-->
<!--  <div class="change_theme-text">-->
<!--    <span>Темная или&nbsp;светлая сторона?</span>-->
<!--    <span>Никаких ограничений! Выбирайте свою любимую тему</span>-->
<!--  </div>-->
<!--&lt;!&ndash;  <div class="middle-content change-theme-anim">&ndash;&gt;-->
<!--&lt;!&ndash;    <div>&ndash;&gt;-->
<!--&lt;!&ndash;      <img id="right_panel-dark-img" src="assets/images/main-dark.svg" alt="">&ndash;&gt;-->
<!--&lt;!&ndash;      <div id="left_panel">&ndash;&gt;-->
<!--&lt;!&ndash;        <img id="right_panel-img" src="assets/images/main-light.svg" alt=""&ndash;&gt;-->
<!--&lt;!&ndash;             [ngStyle]="{'height': height}"&ndash;&gt;-->
<!--&lt;!&ndash;        >&ndash;&gt;-->
<!--&lt;!&ndash;        <div id="drag1">&ndash;&gt;-->
<!--&lt;!&ndash;          <div></div>&ndash;&gt;-->
<!--&lt;!&ndash;          <div></div>&ndash;&gt;-->
<!--&lt;!&ndash;          <div></div>&ndash;&gt;-->
<!--&lt;!&ndash;        </div>&ndash;&gt;-->
<!--&lt;!&ndash;      </div>&ndash;&gt;-->
<!--&lt;!&ndash;      <div id="right_panel">&ndash;&gt;-->
<!--&lt;!&ndash;        <div id="drag">&ndash;&gt;-->
<!--&lt;!&ndash;          <div></div>&ndash;&gt;-->
<!--&lt;!&ndash;          <div></div>&ndash;&gt;-->
<!--&lt;!&ndash;          <div></div>&ndash;&gt;-->
<!--&lt;!&ndash;        </div>&ndash;&gt;-->
<!--&lt;!&ndash;      </div>&ndash;&gt;-->
<!--&lt;!&ndash;    </div>&ndash;&gt;-->
<!--&lt;!&ndash;  </div>&ndash;&gt;-->
<!--</div>-->

<!--<div id="changeTheme" #changeTheme class="change-theme">-->
<!--  <div id="changeThemeText" class="middle-content change_theme-text">-->
<!--    <span>Темная или&nbsp;светлая сторона?</span>-->
<!--    <span>Никаких ограничений! Выбирайте свою любимую тему</span>-->
<!--  </div>-->
<!--</div>-->
<div id="changeTheme" #changeTheme class="change-theme">
  <div id="changeThemeText" class="middle-content change_theme-text">
    <span [innerHTML]="'Theme1' | translate"></span>
    <span [innerHTML]="'Theme2' | translate"></span>
  </div>
  <div id="changeThemeText1" class="middle-content change_theme-text">
    <span [innerHTML]="'Theme1' | translate"></span>
    <span [innerHTML]="'Theme2' | translate"></span>
  </div>
  <div class="middle-content change-theme-anim" id="container">
    <div style="display: flex">
      <img id="right_panel-dark-img" src="assets/images/main-dark.svg" alt="">
      <div id="left_panel">
        <img id="right_panel-img" src="assets/images/main-light.svg" alt="">
        <div id="drag1">
          <div></div>
          <div></div>
          <div></div>
        </div>
      </div>
      <div id="right_panel">
        <div id="drag">
          <div></div>
          <div></div>
          <div></div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="trial-form-field" #trial id="trial">
  <div class="tfr-rec_2"></div>
  <div class="tfr-rec_3"></div>
  <div class="middle-content" style="z-index: 1001">
    <div class="rates-field">
      <span class="rf-title" [innerHTML]="'Tariffs1' | translate"></span>
    </div>
  </div>
  <div class="middle-content" style="display: flex;position: relative;; justify-content: center">
    <div class="outer" style="position: relative;">
      <div class="trial-form">
        <div class="tf-left" id="tf-left">
          <div class="rates" id="rates">
            <div class="r-base">
              <span class="rb-text rates-anim" [innerHTML]="'Tariffs2' | translate"></span>
              <span class="rb-text rates-anim" [innerHTML]="'Tariffs3' | translate"></span>
              <span class="rb-text rates-anim" [innerHTML]="'Tariffs4' | translate"></span>
              <span class="rb-text rates-anim" [innerHTML]="'Tariffs5' | translate"></span>
              <div class="r-mrp">
                <span class="rates-anim">55 134</span>
                <span class="rates-anim">KZT</span>
              </div>
              <div class="r-required rates-anim">
                <svg width="12" height="13" viewBox="0 0 12 13" xmlns="http://www.w3.org/2000/svg">
                  <g clip-path="url(#clip0_628_22)">
                    <path
                      d="M6 11.75C4.60761 11.75 3.27226 11.1969 2.28769 10.2123C1.30312 9.22774 0.75 7.89239 0.75 6.5C0.75 5.10761 1.30312 3.77226 2.28769 2.78769C3.27226 1.80312 4.60761 1.25 6 1.25C7.39239 1.25 8.72774 1.80312 9.71231 2.78769C10.6969 3.77226 11.25 5.10761 11.25 6.5C11.25 7.89239 10.6969 9.22774 9.71231 10.2123C8.72774 11.1969 7.39239 11.75 6 11.75ZM6 12.5C7.5913 12.5 9.11742 11.8679 10.2426 10.7426C11.3679 9.61742 12 8.0913 12 6.5C12 4.9087 11.3679 3.38258 10.2426 2.25736C9.11742 1.13214 7.5913 0.5 6 0.5C4.4087 0.5 2.88258 1.13214 1.75736 2.25736C0.632141 3.38258 0 4.9087 0 6.5C0 8.0913 0.632141 9.61742 1.75736 10.7426C2.88258 11.8679 4.4087 12.5 6 12.5Z"
                    />
                    <path
                      d="M6.7496 4.94486L5.10077 5.17209L5.04173 5.47295L5.36573 5.53866C5.57742 5.59408 5.61918 5.67801 5.5731 5.90999L5.04173 8.65571C4.90204 9.36589 5.11733 9.7 5.6235 9.7C6.01591 9.7 6.47167 9.50048 6.67832 9.22655L6.74168 8.89719C6.59768 9.03653 6.38743 9.09195 6.24775 9.09195C6.04975 9.09195 5.97774 8.93915 6.02887 8.66996L6.7496 4.94486ZM6.8 3.29173C6.8 3.50171 6.72414 3.70309 6.58911 3.85157C6.45408 4.00005 6.27095 4.08346 6.07999 4.08346C5.88903 4.08346 5.70589 4.00005 5.57086 3.85157C5.43583 3.70309 5.35997 3.50171 5.35997 3.29173C5.35997 3.08175 5.43583 2.88037 5.57086 2.73189C5.70589 2.58341 5.88903 2.5 6.07999 2.5C6.27095 2.5 6.45408 2.58341 6.58911 2.73189C6.72414 2.88037 6.8 3.08175 6.8 3.29173Z"
                    />
                  </g>
                  <defs>
                    <clipPath id="clip0_628_22">
                      <rect width="12" height="12" fill="white" transform="translate(0 0.5)"/>
                    </clipPath>
                  </defs>
                </svg>
                <span [innerHTML]="'Tariffs6' | translate"></span>
              </div>
            </div>
            <div class="r-market">
              <span class="rm-header rates-anim" [innerHTML]="'Tariffs7' | translate"></span>
              <div class="rm-fork">
                <div class="rmf-items">
                  <table>
                    <tr class="rates-anim rmf-item">
                      <td [innerHTML]="'Tariffs8' | translate"></td>
                      <td class="rmfi-price">
                        <span class="rates-anim">67&nbsp;386</span>
                        <span class="rates-anim">KZT</span>
                      </td>
                    </tr>
                    <tr class="rates-anim rmf-item">
                      <td [innerHTML]="'Tariffs9' | translate"></td>
                      <td class="rmfi-price">
                        <span class="rates-anim">15&nbsp;315</span>
                        <span class="rates-anim">KZT</span>
                      </td>
                    </tr>
                    <tr class="rates-anim rmf-item">
                      <td [innerHTML]="'Tariffs10' | translate"></td>
                      <td class="rmfi-price">
                        <span class="rates-anim">61&nbsp;260</span>
                        <span class="rates-anim">KZT</span>
                      </td>
                    </tr>
                    <tr class="rates-anim rmf-item">
                      <td [innerHTML]="'Tariffs11' | translate"></td>
                      <td class="rmfi-price">
                        <span class="rates-anim">52&nbsp;071</span>
                        <span class="rates-anim">KZT</span>
                      </td>
                    </tr>
                    <tr class="rates-anim rmf-item">
                      <td [innerHTML]="'Tariffs12' | translate"></td>
                      <td class="rmfi-price">
                        <span class="rates-anim">52&nbsp;071</span>
                        <span class="rates-anim">KZT</span>
                      </td>
                    </tr>
                    <tr class="rates-anim rmf-item">
                      <td [innerHTML]="'Tariffs13' | translate"></td>
                      <td class="rmfi-price">
                        <span class="rates-anim">52&nbsp;071</span>
                        <span class="rates-anim">KZT</span>
                      </td>
                    </tr>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div *ngIf="regSuccess" class="tf-right-success">
          <div class="tfrc-header">
            <span [innerHTML]="'Form1' | translate"></span>
            <span [innerHTML]="'Form2' | translate"></span>
            <div>
              <span [innerHTML]="'Form3' | translate"></span>
              <a href="mailto:mds@kase.kz?subject=Обратная связь&body=Введите сообщение"
                 [innerHTML]="'Form4' | translate"></a>
            </div>
            <img src="assets/images/trial-form-left.svg">
          </div>
        </div>
        <!--      [ngStyle]="{height: getHeight('tf-left')}"-->
        <form class="tf-right" id="form"
              *ngIf="!regSuccess"
              [formGroup]="formPromo" (ngSubmit)="promoFormSubmit()">
          <div>
            <span class="rates-anim tfr-text" [innerHTML]="'Form5' | translate"></span>
            <span class="rates-anim tfr-text" [innerHTML]="'Form6' | translate"></span>
            <div class="tfr-inputs">
              <div class="tft-input-field">
                <label for="fio" [innerHTML]="'Form7' | translate"></label>
                <input formControlName="userFio" [placeholder]="'Placeholder1' | translate" id="fio" name="fio"
                       maxlength="80"
                       [ngStyle]="{
                   border: userFio.invalid && userFio.dirty || userFio.touched && userFio.value.length === 0 ? '1px solid #FF2E24' : ''
                   }">
              </div>
              <div class="tft-input-field">
                <label for="phone" [innerHTML]="'Form8' | translate"></label>
                <input maxlength="100" formControlName="userPhone" [placeholder]="'+7'" id="phone" name="tel"
                       [ngStyle]="{
                 border: userPhone.invalid && userPhone.dirty || userPhone.touched && userPhone.value.length === 0 ? '1px solid #FF2E24' : ''
                 }">
              </div>
              <div class="tft-input-field">
                <label for="email">E-mail</label>
                <input formControlName="userEmail" [placeholder]="'Placeholder2' | translate" id="email" name="email"
                       maxlength="100"
                       [ngStyle]="{
                 border: userEmail.invalid && userEmail.dirty || userEmail.touched && userEmail.value.length === 0 ? '1px solid #FF2E24' : ''
                 }">
              </div>
              <div *ngIf="userEmail.invalid && userEmail.value" class="form-password-errors">
                <div *ngIf="userEmail.errors?.['email']">&bull;&nbsp;&nbsp;{{'Error1' | translate}}</div>
              </div>
              <div class="tft-input-field">
                <label for="login">Логин</label>
                <input formControlName="userLogin" [placeholder]="'Placeholder2' | translate" id="login" name="login"
                       maxlength="30"
                       [ngStyle]="{
                 border: userLogin.invalid && userLogin.dirty || userLogin.touched && userLogin.value.length === 0 ? '1px solid #FF2E24' : ''
                 }">
              </div>
              <div *ngIf="userLogin.value" class="form-password-errors">
                <div *ngIf="userLogin.errors?.['minlength']">&bull;&nbsp;&nbsp;{{'Error2' | translate}}</div>
                <div *ngIf="userLogin.errors?.['english']">&bull;&nbsp;&nbsp;{{'Error3' | translate}}</div>
                <div *ngIf="userLogin.errors?.['number']">&bull;&nbsp;&nbsp;{{'Error4' | translate}}</div>
              </div>
              <div class="tft-input-field input-img-right"
                   [ngClass]="{
              'textarea': !passwordTextArea && screenWidth < 580,
              'input': passwordTextArea || screenWidth > 580
              }"
              >
                <label for="password">{{'Form9' | translate}}</label>
                <textarea *ngIf="!passwordTextArea && screenWidth < 580"
                          formControlName="userPassword"
                          (click)="clickTextAreaValue('password')"
                          [ngStyle]="{
                 border: (!userPassword.valid || formPromo.hasError('mismatch')) && userPassword.errors?.['minlength'] ? '1px solid #FF2E24' : ''
                 }" maxlength="51" [placeholder]="'Placeholder3' | translate"></textarea>
                <input *ngIf="passwordTextArea || screenWidth > 580"
                       formControlName="userPassword"
                       (ngModelChange)="changeTextAreaValue('password', userPassword.value)"
                       [placeholder]="screenWidth > 580 ? getPlaceholder('Placeholder3') : ''" id="password"
                       name="password"
                       #userPasswordInput
                       (focusout)="changeTextAreaValue('password', userPassword.value)"
                       maxlength="20"
                       [ngClass]="{
                   'input-password': !showPassword && userPassword.value
                   }"
                       [type]="showPassword ? '' : 'password'"
                       [ngStyle]="{
                 border: (!userPassword.valid || formPromo.hasError('mismatch')) && userPassword.errors?.['minlength'] || userPassword.touched && userPassword.value.length === 0 ? '1px solid #FF2E24' : ''
                 }">
                <svg *ngIf="showPassword" (click)="showPassword = !showPassword" width="24" height="24"
                     viewBox="0 0 24 24" fill="none"
                     xmlns="http://www.w3.org/2000/svg">
                  <path
                    d="M21.8729 11.6111C21.6942 11.3667 17.4371 5.62646 11.9999 5.62646C6.56274 5.62646 2.30539 11.3667 2.12691 11.6109C1.9577 11.8427 1.9577 12.1572 2.12691 12.3891C2.30539 12.6335 6.56274 18.3737 11.9999 18.3737C17.4371 18.3737 21.6942 12.6335 21.8729 12.3893C22.0423 12.1575 22.0423 11.8427 21.8729 11.6111ZM11.9999 17.055C7.99486 17.055 4.52606 13.2452 3.49922 11.9996C4.52473 10.753 7.98626 6.94514 11.9999 6.94514C16.0048 6.94514 19.4733 10.7544 20.5006 12.0005C19.4751 13.2471 16.0135 17.055 11.9999 17.055Z"
                    fill="white"/>
                  <path
                    d="M12.0005 8.0437C9.81916 8.0437 8.04443 9.81843 8.04443 11.9998C8.04443 14.1811 9.81916 15.9558 12.0005 15.9558C14.1818 15.9558 15.9565 14.1811 15.9565 11.9998C15.9565 9.81843 14.1818 8.0437 12.0005 8.0437ZM12.0005 14.6371C10.5462 14.6371 9.36314 13.454 9.36314 11.9998C9.36314 10.5455 10.5462 9.36241 12.0005 9.36241C13.4547 9.36241 14.6378 10.5455 14.6378 11.9998C14.6378 13.454 13.4548 14.6371 12.0005 14.6371Z"
                    fill="white"/>
                </svg>

                <svg *ngIf="!showPassword" (click)="showPassword = !showPassword" width="24"
                     height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <g clip-path="url(#clip0_1268_22652)">
                    <path
                      d="M18.6989 15.99C20.8252 14.0925 22.0002 11.9425 22.0002 11.9425C22.0002 11.9425 18.2502 5.0675 12.0002 5.0675C10.7997 5.07164 9.61276 5.32179 8.5127 5.8025L9.4752 6.76625C10.2845 6.47145 11.1389 6.3196 12.0002 6.3175C14.6502 6.3175 16.8489 7.7775 18.4602 9.38875C19.2356 10.1684 19.9308 11.0239 20.5352 11.9425C20.4627 12.0513 20.3827 12.1713 20.2914 12.3025C19.8727 12.9025 19.2539 13.7025 18.4602 14.4963C18.2539 14.7025 18.0389 14.9063 17.8139 15.1038L18.6989 15.99Z"
                      fill="white"/>
                    <path
                      d="M16.1212 13.4125C16.4001 12.6323 16.4518 11.789 16.2702 10.9805C16.0885 10.1721 15.6811 9.43193 15.0952 8.84604C14.5093 8.26016 13.7691 7.8527 12.9607 7.67106C12.1523 7.48942 11.3089 7.54108 10.5287 7.82002L11.5575 8.84877C12.0378 8.78001 12.5276 8.82408 12.988 8.97747C13.4484 9.13087 13.8668 9.38939 14.2099 9.73253C14.5531 10.0757 14.8116 10.494 14.965 10.9544C15.1184 11.4148 15.1625 11.9046 15.0937 12.385L16.1212 13.4125ZM12.4425 15.0363L13.47 16.0638C12.6898 16.3427 11.8464 16.3944 11.038 16.2127C10.2296 16.0311 9.48936 15.6236 8.90348 15.0377C8.3176 14.4519 7.91013 13.7117 7.72849 12.9032C7.54685 12.0948 7.59851 11.2515 7.87745 10.4713L8.9062 11.5C8.83745 11.9804 8.88151 12.4702 9.03491 12.9306C9.18831 13.391 9.44682 13.8094 9.78997 14.1525C10.1331 14.4957 10.5515 14.7542 11.0119 14.9076C11.4723 15.061 11.9621 15.105 12.4425 15.0363Z"
                      fill="white"/>
                    <path
                      d="M6.1875 8.78C5.9625 8.98 5.74625 9.1825 5.54 9.38875C4.76456 10.1684 4.0694 11.0239 3.465 11.9425L3.70875 12.3025C4.1275 12.9025 4.74625 13.7025 5.54 14.4962C7.15125 16.1075 9.35125 17.5675 12 17.5675C12.895 17.5675 13.7375 17.4012 14.525 17.1175L15.4875 18.0825C14.3874 18.5632 13.2005 18.8133 12 18.8175C5.75 18.8175 2 11.9425 2 11.9425C2 11.9425 3.17375 9.79125 5.30125 7.895L6.18625 8.78125L6.1875 8.78ZM19.0575 19.885L4.0575 4.885L4.9425 4L19.9425 19L19.0575 19.885Z"
                      fill="white"/>
                  </g>
                  <defs>
                    <clipPath id="clip0_1268_22652">
                      <rect width="20" height="15.885" fill="white" transform="translate(2 4)"/>
                    </clipPath>
                  </defs>
                </svg>
              </div>
              <ng-container *ngIf="userPassword.value">
                <div class="form-segments"
                     [ngClass]="{
            'form-segments-filled-0': getSegments() === 0,
            'form-segments-filled-1': getSegments() === 1,
            'form-segments-filled-2': getSegments() === 2 || getSegments() === 3,
            'form-segments-filled-3': getSegments() === 4
            }">
                  <div class="form-segment"></div>
                  <div class="form-segment"></div>
                  <div class="form-segment"></div>
                </div>
                <span class="form-segment-text form-segments-filled-1"
                      *ngIf="getSegments() === 0 || getSegments() === 1">{{'Status1' | translate}}</span>
                <span class="form-segment-text form-segments-filled-2"
                      *ngIf="getSegments() === 2 || getSegments() === 3">{{'Status2' | translate}}</span>
                <span class="form-segment-text form-segments-filled-3"
                      *ngIf="getSegments() === 4">{{'Status3' | translate}}</span>
                <div class="form-password-errors" [ngStyle]="{marginTop: userPassword.valid ? '12px' : '4px'}">
                  <div *ngIf="userPassword.errors?.['minlength']">{{'Error5' | translate}}</div>
                  <div *ngIf="userPassword.errors?.['uppercase']">&bull;&nbsp;&nbsp;{{'Error6' | translate}}</div>
                  <div *ngIf="userPassword.errors?.['number']">&bull;&nbsp;&nbsp;{{'Error7' | translate}}</div>
                  <div *ngIf="userPassword.errors?.['english']">&bull;&nbsp;&nbsp;{{'Error8' | translate}}</div>
                </div>
              </ng-container>
              <ng-container>
                <div class="tft-input-field input input-img-right">
                  <div class="tft-input">
                    <label for="password">{{'Form10' | translate}}</label>
                  </div>
                  <!--                  <textarea formControlName="userPasswordConfirm"-->
                  <!--                            (click)="clickTextAreaValue('passwordConfirm')"-->
                  <!--                            *ngIf="!passwordConfirmTextArea && screenWidth < 580"-->
                  <!--                            [ngStyle]="{-->
                  <!--                 border: !userPasswordConfirm.valid && userPasswordConfirm.dirty || formPromo.hasError('mismatch') ? '1px solid #FF2E24' : ''-->
                  <!--                 }"-->
                  <!--                             [placeholder]= "" maxlength="51"></textarea>-->
                  <input
                    formControlName="userPasswordConfirm"
                    [placeholder]=""
                    id="passwordConfirm"
                    (ngModelChange)="changeTextAreaValue('passwordConfirm', userPasswordConfirm.value)"
                    #userPasswordConfirmInput
                    name="userPasswordConfirm"
                    maxlength="51"
                    [ngClass]="{
                   'input-password': !showPasswordConfirm && userPasswordConfirm.value
                   }"
                    [type]="showPasswordConfirm ? '' : 'password'"
                    [ngStyle]="{
                 border: !userPassword.valid && userPassword.dirty || formPromo.hasError('mismatch')
                  || userPassword.touched && userPassword.value.length === 0
                  ? '1px solid #FF2E24' : ''
                 }">
                  <svg *ngIf="showPasswordConfirm" (click)="showPasswordConfirm = !showPasswordConfirm" width="24"
                       height="24" viewBox="0 0 24 24"
                       fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path
                      d="M21.8729 11.611C21.6942 11.3666 17.4371 5.6264 11.9999 5.6264C6.56274 5.6264 2.30539 11.3666 2.12691 11.6108C1.9577 11.8427 1.9577 12.1572 2.12691 12.389C2.30539 12.6334 6.56274 18.3737 11.9999 18.3737C17.4371 18.3737 21.6942 12.6334 21.8729 12.3892C22.0423 12.1574 22.0423 11.8427 21.8729 11.611ZM11.9999 17.055C7.99486 17.055 4.52606 13.2451 3.49922 11.9996C4.52473 10.753 7.98626 6.94508 11.9999 6.94508C16.0048 6.94508 19.4733 10.7543 20.5006 12.0005C19.4751 13.247 16.0135 17.055 11.9999 17.055Z"
                      fill="white"/>
                    <path
                      d="M12 8.0437C9.81867 8.0437 8.04395 9.81843 8.04395 11.9998C8.04395 14.1811 9.81867 15.9558 12 15.9558C14.1813 15.9558 15.9561 14.1811 15.9561 11.9998C15.9561 9.81843 14.1813 8.0437 12 8.0437ZM12 14.6371C10.5457 14.6371 9.36266 13.454 9.36266 11.9998C9.36266 10.5455 10.5457 9.36241 12 9.36241C13.4543 9.36241 14.6373 10.5455 14.6373 11.9998C14.6373 13.454 13.4543 14.6371 12 14.6371Z"
                      fill="white"/>
                  </svg>

                  <svg *ngIf="!showPasswordConfirm" (click)="showPasswordConfirm = !showPasswordConfirm" width="24"
                       height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <g clip-path="url(#clip0_1268_22652)">
                      <path
                        d="M18.6989 15.99C20.8252 14.0925 22.0002 11.9425 22.0002 11.9425C22.0002 11.9425 18.2502 5.0675 12.0002 5.0675C10.7997 5.07164 9.61276 5.32179 8.5127 5.8025L9.4752 6.76625C10.2845 6.47145 11.1389 6.3196 12.0002 6.3175C14.6502 6.3175 16.8489 7.7775 18.4602 9.38875C19.2356 10.1684 19.9308 11.0239 20.5352 11.9425C20.4627 12.0513 20.3827 12.1713 20.2914 12.3025C19.8727 12.9025 19.2539 13.7025 18.4602 14.4963C18.2539 14.7025 18.0389 14.9063 17.8139 15.1038L18.6989 15.99Z"
                        fill="white"/>
                      <path
                        d="M16.1212 13.4125C16.4001 12.6323 16.4518 11.789 16.2702 10.9805C16.0885 10.1721 15.6811 9.43193 15.0952 8.84604C14.5093 8.26016 13.7691 7.8527 12.9607 7.67106C12.1523 7.48942 11.3089 7.54108 10.5287 7.82002L11.5575 8.84877C12.0378 8.78001 12.5276 8.82408 12.988 8.97747C13.4484 9.13087 13.8668 9.38939 14.2099 9.73253C14.5531 10.0757 14.8116 10.494 14.965 10.9544C15.1184 11.4148 15.1625 11.9046 15.0937 12.385L16.1212 13.4125ZM12.4425 15.0363L13.47 16.0638C12.6898 16.3427 11.8464 16.3944 11.038 16.2127C10.2296 16.0311 9.48936 15.6236 8.90348 15.0377C8.3176 14.4519 7.91013 13.7117 7.72849 12.9032C7.54685 12.0948 7.59851 11.2515 7.87745 10.4713L8.9062 11.5C8.83745 11.9804 8.88151 12.4702 9.03491 12.9306C9.18831 13.391 9.44682 13.8094 9.78997 14.1525C10.1331 14.4957 10.5515 14.7542 11.0119 14.9076C11.4723 15.061 11.9621 15.105 12.4425 15.0363Z"
                        fill="white"/>
                      <path
                        d="M6.1875 8.78C5.9625 8.98 5.74625 9.1825 5.54 9.38875C4.76456 10.1684 4.0694 11.0239 3.465 11.9425L3.70875 12.3025C4.1275 12.9025 4.74625 13.7025 5.54 14.4962C7.15125 16.1075 9.35125 17.5675 12 17.5675C12.895 17.5675 13.7375 17.4012 14.525 17.1175L15.4875 18.0825C14.3874 18.5632 13.2005 18.8133 12 18.8175C5.75 18.8175 2 11.9425 2 11.9425C2 11.9425 3.17375 9.79125 5.30125 7.895L6.18625 8.78125L6.1875 8.78ZM19.0575 19.885L4.0575 4.885L4.9425 4L19.9425 19L19.0575 19.885Z"
                        fill="white"/>
                    </g>
                    <defs>
                      <clipPath id="clip0_1268_22652">
                        <rect width="20" height="15.885" fill="white" transform="translate(2 4)"/>
                      </clipPath>
                    </defs>
                  </svg>
                </div>
              </ng-container>
              <ng-container *ngIf="userPassword.valid">
                <div class="tft-input-field">
                  <img [src]="getCaptchaLink() + guid" alt="">
                </div>
                <div class="tft-input-field">
                  <label for="captcha">{{'Form11' | translate}}</label>
                  <input formControlName="userCaptcha" [placeholder]="" id="captcha" name="tel"
                         [ngStyle]="{
                 border: userCaptcha.invalid && userCaptcha.dirty || userCaptcha.touched && userCaptcha.value.length === 0  ? '1px solid #FF2E24' : ''
                 }">
                </div>
              </ng-container>
            </div>
            <div class="form-password-errors" [ngStyle]="{marginTop: userPassword.valid ? '12px' : '4px'}">
              <div *ngFor="let regError of this.regErrorText">
                {{regError}}
              </div>
            </div>
            <div class="tfr-line"></div>
            <div (click)="openUserAgreement()" class="rates-anim tfr-accept" [innerHTML]="'Form12' | translate"></div>
            <button *ngIf="formPromo.valid" class="{{formPromo.valid ? '' : 'button-disabled'}} tfr-button"
                    [disabled]="!formPromo.valid && loading">
              <span *ngIf="loading">{{'Form16' | translate}}</span>
              <span *ngIf="!loading">{{'Form15' | translate}}</span>
            </button>
            <div *ngIf="formPromo.invalid" class="tfr-button button-disabled" (click)="formPromo.markAllAsTouched()">{{'Form15' | translate}}</div>
            <div class="tfr-question">
              <span [innerHTML]="'Form13' | translate"></span>
              <a href="https://irisfinance.kase.kz/auth" target="_blank">{{'Form14' | translate}}</a>
            </div>
          </div>
        </form>
        <div class="tfr-rec_4"></div>
      </div>
    </div>
    <!--    <img class="tfr-rec" src="assets/images/Rectangle%20656.svg">-->
    <!--    <img class="tfr-rec_1" src="assets/images/Rectangle%20655.svg">-->
  </div>
  <div>
    <div style="z-index: 1001;" class="middle-content" id="tf-contacts" #tfContacts>
      <div class="copyright">
        <div class="copyright-left">
          <span class="rates-anim">IRIS Finance</span>
          <span class="rates-anim" (click)="openUserAgreement()">{{'Copyright1' | translate}}</span>
          <span class="rates-anim">{{'Copyright2' | translate}}</span>
        </div>
        <div class="copyright-right">
          <span class="rates-anim">{{'Copyright3' | translate}}</span>
          <span class="rates-anim">+7 (727) 237 53 22 </span>
          <span class="rates-anim">mds@kase.kz</span>
          <span class="rates-anim">{{'Copyright2' | translate}}</span>
        </div>
      </div>
    </div>
  </div>
</div>
<!--style="-->
<!--background: linear-gradient(90deg, #181B2A 0%, rgba(24, 27, 42, 0.93) 100%);"-->
